<?xml version="1.0"?>
<config>
  <modules>
    <Xpd_EmailForge>
      <version>1.0.0</version>
    </Xpd_EmailForge>
  </modules>
  <global>
    <helpers>
      <emailforge>
        <class>Xpd_EmailForge_Helper</class>
      </emailforge>
    </helpers>
    <models>
	  <emailforge>
		<class>Xpd_EmailForge_Model</class>
	  </emailforge>
	</models>
    <blocks>
      <emailforge>
        <class>Xpd_EmailForge_Block</class>
      </emailforge>
    </blocks>
  </global>
  <frontend>
    <translate>
        <modules>
            <Xpd_EmailForge>
                <files>
                    <default>Xpd_EmailForge.csv</default>
                </files>
            </Xpd_EmailForge>
        </modules>
    </translate>
    <routers>
        <emailforge>
            <use>standard</use>
            <args>
                <module>Xpd_EmailForge</module>
                <frontName>emailforge</frontName>
            </args>
        </emailforge>
    </routers>
    <layout>
        <updates>
            <emailforge>
                <file>emailforge.xml</file>
            </emailforge>
        </updates>
    </layout>
  </frontend>
  <default>
    <emailforge>
      <config>
        <fields>firstname,lastname,gender,telephone,postcode,region</fields>
      </config>
    </emailforge>
  </default>
</config> 