<?xml version="1.0"?>
<config>
  <modules>
    <Xpd_EmailForge>
      <version>1.0.0</version>
    </Xpd_EmailForge>
  </modules>
  <global>
    <helpers>
      <emailforge>
        <class>Xpd_EmailForge_Helper</class>
      </emailforge>
    </helpers>
    <events>
	  <subscriber_emailforge_customer>
        <observers>
          <Xpd_EmailForge_Model_Observer>
            <type>model</type>
            <class>emailforge/observer</class>
            <method>getSubscribeCustomer</method>
            <args></args>
          </Xpd_EmailForge_Model_Observer>
        </observers>
      </subscriber_emailforge_customer>
      <subscriber_emailforge_generic>
        <observers>
          <Xpd_EmailForge_Model_Observer>
            <type>model</type>
            <class>emailforge/observer</class>
            <method>getSubscribers</method>
            <args></args>
          </Xpd_EmailForge_Model_Observer>
        </observers>
      </subscriber_emailforge_generic>
    </events>
  </global>
</config> 